<!-- Start Google Tag Manager Data Layer Initialization Script -->
<script>
  dataLayer = [];
</script>
<!-- End Google Tag Manager Data Layer Initialization Script -->

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>{{ theme }} | Donation Page</title>
<meta name="title" content="{{ theme }} | Donation Page" />

<!-- Update as needed -->
<link href='https://e-activist.com/ea-demo/frontend/pbAssets/build/css/enPage.css?v=3.62.0' rel='stylesheet' type='text/css' />
<script src='https://e-activist.com/ea-demo/frontend/pbAssets/build/js/enPage.js?v=3.62.0'></script>
<include src="src/templates/includes/page-wrapper-elements/local-data.html"></include>
